@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
		url("flaticon.woff") format("woff"), url("flaticon.ttf")
		format("truetype"), url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
	margin-left: 0px;
}

.flaticon-boxes27:before {
	content: "\e000";
	font-size: 8em;
}

.flaticon-chat51:before {
	content: "\e001";
}

.flaticon-computers20:before {
	content: "\e002";
}

.flaticon-console4:before {
	content: "\e003";
}

.flaticon-delete96:before {
	content: "\e004";
}

.flaticon-info27:before {
	content: "\e005";
}

.flaticon-mail3:before {
	content: "\e006";
}

.flaticon-pc6:before {
	content: "\e007";
}

.flaticon-plasma:before {
	content: "\e008";
}

.flaticon-power107:before {
	content: "\e009";
}

.flaticon-robot28:before {
	content: "\e00a";
}

.flaticon-robots2:before {
	content: "\e00b";
}

.flaticon-science30:before {
	content: "\e00c";
}

.flaticon-science93:before {
	content: "\e00d";
}

.flaticon-sun45:before {
	content: "\e00e";
}

.flaticon-update:before {
	content: "\e00f";
}

.flaticon-update26:before {
	content: "\e010";
}