@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lobster);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    background-color: #bdc3c7;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

header {
    width: 100%;
    height: 45px;
    background-color: #34495e;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.logo a {
    font-weight: 700;
    font-size: 1.8em;
    color: white;
}

.logo a:hover {
    color: #C8AA80;
    text-decoration: none;
}

.logo a span {
    font-weight: 300;
}

div#container {
    width: 100%;
    margin: 0 auto;
}

.sidebar {
    width: 200px;
    background-color: #2c3e50;
    float: left;
}

aside ul {

}

aside ul li {
    list-style: none;
}

aside ul li a {
    color: #95a5a6;
    display: block;
    padding: 12px;
    font-size: 1.2em;
    border-bottom: 1px solid #34495e;
    -webkit-transition: 0.2s;
    -mox-transition: 0.2s;
    transition: 0.2s;
}

aside ul li a:hover {
    text-decoration: none;
    background-color: #95a5a6;
    color: #2c3e50;
    padding-left: 15px;
}

aside ul li a.selected {
    background-color: #95a5a6;
    color: #2c3e50;
}

.content {
    /*width: auto;*/
    margin-left: 200px;
    /*height: calc(100% - 50px);*/
    background-color: #bdc3c7;
    padding: 15px;
}

.content p {
    color: #7f8c8d;
    font-size: 1em;
}

div .box {
    margin: 5px;
}

div .box .box-top {
    color: white;
    text-shadow: 0px 1px #7f8c8d;
    background-color: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
}

div .box .box-panel {
    padding: 15px;
    background-color: #ecf0f1;
}

div .equipo {
    margin: 2px;
}

div .equipo .equipo-titulo {
    color: white;
    text-shadow: 0px 1px #7f8c8d;
    background-color: #2ecc71;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
}

div .equipo .equipo-titulo i {
    padding-right: 10px;
}

div .equipo .equipo-cuerpo {
    padding: 15px;
    background-color: #bdc3c7;
}

div #no-encontrado {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

div #no-encontrado p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

div #no-encontrado h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

div .usuario {
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
}

a.mobile {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 7px;
}



.btn-agregar-tabla {
    text-align: center;
}

a.mobile:active {
    background-color: #4a4a4a;
}

@media only screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .content {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 401px) {
    .sidebar {
        height: calc(100% - 50px);
    }
    a.mobile {
        display: none;
    }
}

.panel-equipo {
    padding: 0px !important;
    padding-left: 10px !important;
    margin: 0 !important;
}

.interior-equipo {
    padding: 10px !important;
    margin: 0 !important;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}