
    <h1>Administración</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">Equipos</div>
        <div class="panel-body">
            <form method="POST" modelAttribute="equipos">
                        <div class="row" ng-if="equipo.nombre">

                                <div class="col-xs-2 panel-equipo" ng-repeat="equipos in sala.equipos">
                                    <div class="panel panel-success">
                                          <div class="panel-heading flaticon-robot28" ng-if="equipo.nombre">
                                                  {{equipo.nombre}}
                                          </div>
                                          <div class="panel-heading flaticon-robot28" ng-if="!equipo.nombre">
                                                  {{equipo.ip}}
                                          </div>
                                        <div class="panel-body interior-equipo">

                                            <div
                                                class="btn-group btn-group-justified boton-interior-equipo"
                                                role="group" aria-label="...">

                                                <div class="btn-group" role="group">
                                                    <button type="button"
                                                            class="btn btn-default dropdown-toggle flaticon-console4"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><p class="dropdown-text-mac">MAC:
                                                                {{equipo.mac}}</p></li>
                                                        <li><p class="dropdown-text-ip">IP:
                                                                {{equipo.ip}}</p></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a class="flaticon-console4"
                                                               href="</admin/enviar-orden-{{equipo.ip}}/>">
                                                                Enviar una orden</a></li>
                                                        <li><a class="flaticon-power107"
                                                               href="</admin/apagar-{{equipo.ip}}/>">
                                                                Apagar</a></li>
                                                        <li><a class="flaticon-update26"
                                                               href="</admin/reiniciar-{{equipo.ip}} />">
                                                                Reiniciar</a></li>
                                                        <li><a
                                                                href="</admin/actualizar-{{equipo.ip}} />"
                                                                class="flaticon-refresh57"> Actualizar software</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a
                                                                href="#"
                                                                class="flaticon-chat51 enviar-mensaje" id='{{equipo.ip}}'> Enviar
                                                                mensaje</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a
                                                                href="</admin/eliminar-equipo-{{equipo.ip}} />"
                                                                class="flaticon-delete96"> Eliminar equipo</a></li>
                                                        <li><a
                                                                href="<c:url value='/admin/editar-equipo-${equipo.ip}' />"
                                                                class="flaticon-edit18"> Editar equipo</a></li>

                                                    </ul>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <label class="btn btn-default flaticon-login12"><checkbox
                                                            path="equipos[{{status.index}}].seleccionado"
                                                            id="equipos[{{status.index}}].seleccionado"
                                                            autocomplete="off" /></label> <input type="hidden"
                                                                    name="equipos[{{status.index}}].ip" value="{{equipo.ip}}" />
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div id="no-encontrado">
                            <i class="flaticon-boxes27"></i>
                            <h1>Aquí no hay equipos</h1>
                            <p>Parece que no se han encontrado equipos. Si deseas
                                puedes agregar equipos desde el menú lateral o dando clic en
                                el siguiente botón:</p>
                        </div>
                <input type="hidden" name="mensaje" id="mensaje" value="" />
                <div class="btn-agregar-tabla">
                    <a href="</admin/nuevo />" class="btn btn-default"
                       role="button">Agregar equipos</a>
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-default dropdown-toggle flaticon-console4"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Enviar órdenes <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button type="submit" name="enviar-mensajes"
                                        id="mensaje1clic"
                                        style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                        tabindex="-1"></button>
                                <button class="flaticon-console4" id="mensaje1">Enviar
                                    un mensaje</button></li>
                            <li><button type="submit" name="apagar"
                                        class="flaticon-power107">Apagar</button></li>
                                        <li><button type="submit" name="reiniciar" class="flaticon-update26">Reiniciar</button></li>
                            <li><a
                                    href="</admin/actualizar-{{equipo.ip}} />"
                                    class="flaticon-refresh57"> Actualizar software</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a
                                    href="/admin/enviar-mensaje-{{equipo.ip}} />"
                                    class="flaticon-chat51"> Enviar mensaje</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a
                                    href="</admin/eliminar-equipo-{{equipo.ip}} />"
                                    class="flaticon-delete96"> Eliminar equipo</a></li>
                            <li><a
                                    href="</admin/editar-equipo-{{equipo.ip}} />"
                                    class="flaticon-edit18"> Editar equipo</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <div>
        Icons made by <a href="http://www.flaticon.com/authors/simpleicon"
                         title="SimpleIcon">SimpleIcon</a>, <a
                         href="http://www.freepik.com" title="Freepik">Freepik</a> from <a
                         href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
        is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div>
