<div class="panel panel-primary">
    <div class="panel-heading">Laboratorios</div>
    <div class="panel-body">

        <table class="table table-striped" ng-if={laboratorios.nombre}>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ubicación</th>
                    <th>Administración</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="laboratorios in listaLaboratorios">
                    <th scope="row">{{laboratorio.id}}</th>
                    <td>{{laboratorio.nombre}}</td>
                    <td>{{laboratorio.ubicacion}}</td>
                    <td>{{laboratorio.administracion}}</td>
                    <td><a href="</editar-laboratorio-{{laboratorio.id}}/>">Editar</a></td>
                    <td><a href="</eliminar-laboratorio-{{laboratorio.id}}/>">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <div id="no-encontrado">
            <i class="flaticon-boxes27"></i>
            <h1>Aquí no hay laboratorios</h1>
            <p>Parece que no se han encontrado laboratorios. Si deseas puedes agregar salas desde el siguiente botón:</p>
        </div>

        <div class="btn-agregar-tabla">
            <a href="</admin/agregar-laboratorio/>" class="btn btn-default " role="button">Agregar laboratorio</a>
        </div>
    </div>
</div>

<div>
    Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed
    by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>
